* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	/*color: #777;*/
	font-size: 1em; /* = 16pt */
	font-weight: 300;
	background-color: #f9f9f9;
}

input,
select {
	width:100%;
	padding:7px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid silver;
	background-color: transparent;
	margin: 10px 0;
}

select {
	height: 2.1em;
}

input {
	flex: 1;
}

input:focus,
select:focus {
	background-color: #f9f9f9;
	outline: none;
}

.search-container,
.buttons-container {
	margin: 30px auto;
	max-width: 600px;
	background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem;
    position: relative;
    border: 1px solid #e8e8e8;
}

.buttons-container {
	text-align: center;
}

#search-form {
	font-size: 1.2em;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#btn-search,
#linktofile {
	width: 100%;
	padding: 10px;
	margin-top: 1em;
	background-color: #1abc9c;
	border: 0;
	outline: none;
	border-bottom: 2px solid #16a085;
	border-radius: .25rem;
	font-weight: 400;
	color: #fff;
}

#linktofile {
	text-decoration: none;
}

.sort-button {
	border: 1px solid #ecf0f1;
	border-bottom: 2px solid #bdc3c7;
	background-color: #ecf0f1;
	border-radius: .25rem;
	padding: 5px;
}

.active {
	border: 1px solid #e74c3c;
	border-bottom: 2px solid #c0392b;
	background-color: #e74c3c;
	color: #fff;
}

.gallery-container {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 920px;
	margin: 0 auto;

	padding-top: 30px;
	padding-bottom: 100px;
}

.gallery-item {
	width: 200px;
	margin: 15px;
	padding: 10px;
	border: 1px solid e8e8e8;
	border-radius: 3px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.gallery-item a img {
	width: 100%;
	height: auto;
}

.gallery-item:hover {
	box-shadow: 2px 5px 40px silver;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

#overlay,
#overlay-content {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

#overlay-content {
	width: 75%;
	max-width: 920px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
	border-radius: 3px;
}

#overlay-content img {
	width: 100%;
    height: auto;
    margin: 10px;
    max-width: 275px;
}

#overlay-content p,
#overlay-content h3,
#overlay-content a {
	color: #fafafa;
    text-align: left;
    margin: 10px auto;
    padding: 0 10px;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

#overlay-content #details {
	flex: 1 50%;
}

#overlay .fa {
	cursor: pointer;
	color: white;
}

#left-arrow-svg,
#right-arrow-svg {
	fill: white;
	width: 30px;
	height: 30px;
}

.hide {
	margin-left: 0;
	margin-right: 0;
}

@media (min-width: 426px) {
	#search-form {
		flex-direction: row;
	}

	input,
	select {
		width: auto;
	}

	select {
		 margin: 0 15px;
	}

	input {
		margin-left: 15px;
	}

}
